<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @menu } %>

<%= form_for [:admin, @menu] do |f| %>
<fieldset data-hook="new_menu">
	<div class="clearfix" data-hook="new_menu_attrs">
		<div class="left">
			<%= f.field_container :name do %>
				<%= f.label :name, t(:name) %> <span class="required">*</span><br />
				<%= f.text_field :name, :class => 'fullwidth title' %>
				<%= f.error_message_on :name %>
			<% end %>

			<%= f.field_container :presentation do %>
				<%= f.label :presentation, t(:presentation) %> <span class="required">*</span><br />
				<%= f.text_field :presentation, :class => 'fullwidth title' %>
				<%= f.error_message_on :presentation %>
			<% end %>

			<%= f.field_container :parent do %>
				<%= f.label :parent, t(:parent) %><br />
				<%= f.select :parent_id, Spree::Menu.all.collect{|m| [m.name, m.id]}, :include_blank => "Seleziona un padre" %>
				<%= f.error_message_on :parent %>
			<% end %>
			
			<%= f.field_container :category do %>
				<%= f.label :category, t(:category) %><br />
				<%= f.text_field :category, :class => 'fullwidth title' %>
				<%= f.error_message_on :category %>
			<% end %>
			
			<%= f.field_container :class_list do %>
				<%= f.label :class_list, t(:class_list) %><br />
				<%= f.text_field :class_list, :class => 'fullwidth title' %>
				<%= f.error_message_on :class_list %>
			<% end %>
			
			<%= f.field_container :position do %>
				<%= f.label :position, t(:position) %><br />
				<%= f.text_field :position, :class => 'fullwidth title' %>
				<%= f.error_message_on :position %>
			<% end %>
		</div>
		<div class="right">
			<%= f.field_container :parent do %>
			<li class="string input required" id="menu_url_input">
		     <%= f.label :url, t(:url) %><br />
		      <div class="radio_content">
		        <% if @menu.linkable_type != "Spree::Product" && @menu.linkable_type != "Spree::Page" && @menu.linkable_type != "Spree::Taxon" %>
		            <input onchange="update_disabled('.url_text_field');" checked="checked" type="radio" name="url_type" id="url_type_insert_new_url" > <%= t(:insert_new_url) %>
		            <%= f.text_field :url, :class => 'url_text_field' %> <br/>
		        <% else %>
		            <input onchange="update_disabled('.url_text_field');" type="radio" name="url_type" id="url_type_insert_new_url" > <%= t(:insert_new_url) %>
		            <%= f.text_field :url, :class => 'url_text_field', :disabled => 'disabled' %> <br/>
		        <% end %>

		      </div>
		    </li>
			<% end %>
			
			<%= f.field_container :visible do %>
				<%= f.label :visible, t(:visible) %><br />
				<%= f.check_box :visible %>
				<%= f.error_message_on :visible %>
			<% end %>
		</div>
	</div>
	<%= render :partial => 'spree/admin/shared/new_resource_links' %>
</fieldset>
<% end %>

